In [2]:
# Dependencies
import pandas as pd
import numpy as np

# Save file path to variable
metrotransit_csv = "TransitStopsBoardingsAndAlightings2019.csv"

# Read with Pandas
metrotransit_df = pd.read_csv(metrotransit_csv)
metrotransit_df.head()

FileNotFoundError: [Errno 2] File b'TransitStopsBoardingsAndAlightings2019.csv' does not exist: b'TransitStopsBoardingsAndAlightings2019.csv'

In [18]:
Route_df = metrotransit_df.groupby("Route Type")
Route_df.count()

,Provider,Route Type,Route Classification,Route,Dir,Site_id,Geo_Node_Name,Group ID,latitude,longitude,...,y-coordinate,Trips,Obs Trips,Schedule,Ons,Offs,Seq,%Sampled,Downtown,Comment
City,,,,,,,,,,,,,,,,,,,,,
ANOKA,192,192,192,192,190,192,192,0,192,192,...,192,192,188,192,190,188,192,192,192,0
APPLE VALLEY,541,541,541,541,541,541,541,32,541,541,...,541,541,24,541,24,24,541,541,541,0
ARDEN HILLS,37,37,37,37,37,37,37,0,37,37,...,37,37,37,37,37,37,37,37,37,0
BAYTOWN TOWNSHIP,3,3,3,3,3,3,3,0,3,3,...,3,3,3,3,3,3,3,3,3,0
BECKER,6,6,6,6,6,6,6,0,6,6,...,6,6,0,6,0,0,6,6,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WAYZATA,92,92,92,92,92,92,92,0,92,92,...,92,92,91,92,91,91,92,91,92,0
WEST SAINT PAUL,421,421,421,421,421,421,421,0,421,421,...,421,421,421,421,421,421,421,421,421,1
WHITE BEAR LAKE,139,139,139,139,139,139,139,0,139,139,...,139,139,139,139,139,139,139,139,139,0
WHITE BEAR TOWNSHIP,10,10,10,10,10,10,10,0,10,10,...,10,10,10,10,10,10,10,10,10,0
WOODBURY,38,38,38,38,38,38,38,0,38,38,...,38,38,38,38,38,38,38,38,38,0

In [19]:
# Route_df = metrotransit_df.groupby("Schedule")
Route_df.count()

,Provider,Route Type,Route Classification,Route,Dir,Site_id,Geo_Node_Name,Group ID,latitude,longitude,...,y-coordinate,Trips,Obs Trips,Schedule,Ons,Offs,Seq,%Sampled,Downtown,Comment
City,,,,,,,,,,,,,,,,,,,,,
ANOKA,192,192,192,192,190,192,192,0,192,192,...,192,192,188,192,190,188,192,192,192,0
APPLE VALLEY,541,541,541,541,541,541,541,32,541,541,...,541,541,24,541,24,24,541,541,541,0
ARDEN HILLS,37,37,37,37,37,37,37,0,37,37,...,37,37,37,37,37,37,37,37,37,0
BAYTOWN TOWNSHIP,3,3,3,3,3,3,3,0,3,3,...,3,3,3,3,3,3,3,3,3,0
BECKER,6,6,6,6,6,6,6,0,6,6,...,6,6,0,6,0,0,6,6,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WAYZATA,92,92,92,92,92,92,92,0,92,92,...,92,92,91,92,91,91,92,91,92,0
WEST SAINT PAUL,421,421,421,421,421,421,421,0,421,421,...,421,421,421,421,421,421,421,421,421,1
WHITE BEAR LAKE,139,139,139,139,139,139,139,0,139,139,...,139,139,139,139,139,139,139,139,139,0
WHITE BEAR TOWNSHIP,10,10,10,10,10,10,10,0,10,10,...,10,10,10,10,10,10,10,10,10,0
WOODBURY,38,38,38,38,38,38,38,0,38,38,...,38,38,38,38,38,38,38,38,38,0

In [32]:
Trips = Route_df["Trips"]

Route_df = metrotransit_df.groupby("City")

city_df = Route_df[["City", "Trips", "Ons", "Offs"]]

# city_df = pd.DataFrame({"Trips": Trips})
# city_df.head()

df = pd.DataFrame(city_df, columns = ['Trips', 'Ons', 'Offs'])
df

ValueError: 3 columns passed, passed data had 2 columns